# deps
node_modules/
.pnp
.pnp.*

# next
.next/
out/

# build
build/
dist/

# env
.env
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# prisma
prisma/*.db
prisma/*.db-journal

# docker
pgdata/

# misc
*.pem
tehzadanie_skin_site.txt
